* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background: linear-gradient(
    180deg,
    rgba(245, 241, 255, 0.8) 0%,
    rgba(245, 241, 255, 0) 95.8%
  );
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
}
header {
  display: flex;
  width: 80%;
  max-width: 800px;
  margin: 2em auto;
}
img {
  height: auto;
  max-width: 100%;
  border-radius: 12px;
}
.logo {
  margin-right: auto;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
  width: 52px;
  height: 52px;
  border-radius: 50%;
  position: relative;
}

.nav {
  display: flex;
  padding: 0.5em;
}
li {
  display: inline-block;
}
li a {
  display: inline-block;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  color: #152c5b;
  opacity: 0.8;
  margin: 0.5em 0.7em;
}
li a.active {
  color: #0045ff;
}
.started {
  background: #0045ff;
  border-radius: 8px;
  padding: 0.5em;
  margin-left: 0.5em;
  outline: none;
  border: none;
  color: #ffffff;
}
main {
  width: 70%;
  max-width: 600px;
  margin: 1em auto;
}
h1,
h4 {
  color: #152c5b;
  text-align: center;
  width: 70%;
  margin: 1em auto 0;
}
.hero {
  width: 90%;
  margin: 2em auto;
  background: rgba(0, 0, 0, 0.025);
  border-radius: 32px;
  backdrop-filter: blur(32px);
  padding: 1em;
  position: relative;
}
.play {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 45%;
  left: 45%;
  border-radius: 50%;
}
@media (max-width: 770px) {
  header {
    width: 95%;
  }

  main {
    width: 90%;
  }
  h1,
  h4 {
    width: 80%;
  }
}

@media (max-width: 590px) {
  .logo {
    width: 40px;
    height: 40px;
  }
  li a {
    font-size: 0.6rem;
    margin: 1em 0.7em;
  }

  .started {
    font-size: 0.6rem;
    padding: 1em;
    margin-left: 0.5em;
  }
  h1,
  h4 {
    width: 90%;
    margin: 0em auto 0.5em;
  }
  .hero {
    margin: 1em auto;
  }
  .play {
    width: 20px;
    height: 20px;
    top: 43%;
  }
}
